<p>
  ----------------------------------
  Screen 2 : Property-info component
  ----------------------------------
</p>

<!-- <mat-step [stepControl]='claimsForm'>
    <form [formGroup]='claimsForm' (ngSubmit)='onSubmit($event, 2)'>
      <ng-template matStepLabel>Claims History</ng-template>
      <div class='question'>
        <h4>Have you made a claim in the past 10 years?</h4>
        <mat-button-toggle-group formControlName='hasMadeClaim' required>
          <mat-button-toggle *ngFor="let item of ['Yes', 'No']" [value]="item=='Yes'">
            {{item}}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div *ngIf="shouldShowField('claimsList')" formArrayName="claims">
        <mat-card class='question' *ngFor="let claim of claims.controls; let i=index">
          <div [formGroupName]="i" class='multiple-spans'>
            <h4>Claim #{{i+1}}</h4>
            <span>
              <mat-form-field>
                <mat-select placeholder="What happened?" formControlName='event' required>
                  <mat-option *ngFor="let event of ['Fire', 'Flood', 'Aliens', 'Other']" [value]="i">{{event}}</mat-option>
                </mat-select>
              </mat-form-field>
            </span>
            <span>
              <mat-form-field>
                <input matInput [matDatepicker]="claimPicker" name="claimDate{{i}}" placeholder="When did it happen?"
                  formControlName='date' [max]='now' required>
                <mat-datepicker-toggle matSuffix [for]="claimPicker"></mat-datepicker-toggle>
                <mat-datepicker #claimPicker></mat-datepicker>
              </mat-form-field>
            </span>
          </div>
          <mat-action-row>
            <button class='float-right' type='button' mat-button color="warn" (click)='removeClaim(i)' *ngIf='claims.length > 1'>Delete</button>
            <div class='clearfix'></div>
          </mat-action-row>
        </mat-card>
        <button id='add-claim-btn' type='button' mat-button color="primary" (click)="addClaim()">Add another claim</button>
        <div class='clearfix'></div>
      </div>
      <small *ngIf="DEBUG">Form status: {{ claimsForm.status }}</small>
      <mat-action-row>
        <button class='float-left' type='button' mat-button color="primary" matStepperPrevious>Back</button>
        <button class='float-right' type='submit' mat-button color="primary" matStepperNext>Next</button>
        <button class='float-right' type='button' mat-button (click)="debug()" *ngIf="DEBUG">Debug</button>
      </mat-action-row>
    </form>
  </mat-step> -->
