<!-- <h1>Getting started</h1>
<mat-card>
    <mat-form-field>
        <textarea matInput rows="5" [(ngModel)]="enteredValue"></textarea>
    </mat-form-field>
    <button mat-raised-button
        color="accent"
        (click)="onAddPost()">Add Post
    </button>
</mat-card>
<hr>
<p>{{ newPost }}</p> Referred as string interporlation  -->
<h2>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; Welcome! Get Home Insurance</h2>
<mat-card>
  <form class="example-full-width" (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field >
      <input matInput placeholder="Where is the property?" name="location"  required  ngModel value="">
    </mat-form-field>
    <br>
      <mat-radio-group>
        &nbsp;<mat-radio-button value="1">I own</mat-radio-button>
        &nbsp;<mat-radio-button value="2">I rent</mat-radio-button>
      </mat-radio-group>
    <br>
    <mat-form-field>
      <input matInput placeholder="First Name" name="first_name"  required  ngModel value="">
    </mat-form-field>
      &nbsp;
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Last Name" name="last_name"  required  ngModel value="">
    </mat-form-field>
      &nbsp;
    <mat-form-field class="example-full-width">
      <!-- <input matInput placeholder="DOB" name="DOB"  required  ngModel value=""> -->
      <input matInput [matDatepicker]="picker1" placeholder="Date of Birth" name="DOB"  required  ngModel value="">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <br>
    When do you want your coverage to start ? <br>
    <mat-form-field class="example-full-width">
        <!-- <input matInput placeholder="DOB" name="DOB"  required  ngModel value=""> -->
        <input matInput [matDatepicker]="picker2" placeholder="Start Date" name="start_date"  required  ngModel value="">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <br>
    <button mat-raised-button color="primary">Back</button>
      &nbsp;
    <button mat-raised-button color="primary" type="submit">Next</button>
  </form>
</mat-card>
<!--
<p>{{ newPost }}</p> -->
<!-- <br>
  When do you want your coverage to start ? <br>
  <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
<br> -->
