  <form [formGroup]='basicForm' (submit)="onAddPost(postForm)" #postForm="ngForm">
    <ng-template matStepLabel>Basic information</ng-template>
    <header>
      <h1>Welcome! Get {{ insuranceType }}</h1>
    </header>
    <h4>Where is the property?</h4>
    <div class='location'>
      <mat-form-field class='location-field'>
        <mat-select placeholder="Location" name="location" required  formControlName="location">
          <mat-option *ngFor="let place of places" [value]="place.value">
            {{place.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class='question'>
      <mat-radio-group formControlName="ownershipStatus" required>
        &nbsp;<mat-radio-button value="own" >I own</mat-radio-button>
        &nbsp;<mat-radio-button value="rent">I rent</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="multiple-spans">
      <span>
        <mat-form-field>
          <input matInput type="text" name="firstname" placeholder="First name" #fname formControlName="firstName" required>
          <mat-error *ngIf="fname.invalid">Please enter your first name.</mat-error>
        </mat-form-field>
      </span>
      <span>
        <mat-form-field>
          <input matInput type="text" name="lastname" placeholder="Last name" #lName formControlName="lastName" required>
          <mat-error *ngIf="lName.invalid">Please enter your last name.</mat-error>
        </mat-form-field>
      </span>
      <span>
        <mat-form-field>
          <input matInput [matDatepicker]="dobPicker" [max]='now' name="dateofbirth" placeholder="Date of birth" formControlName="dob"
           required>
          <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
          <mat-datepicker #dobPicker></mat-datepicker>
        </mat-form-field>
      </span>
    <span>
        <h4>When do you want your coverage to start?</h4>
     <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="picker2" [min]='now' placeholder="Start Date" name="start_date"  required >
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      </span>
    </div>
    <!-- <div class='multiple-spans' formGroupName="coverageStart">
      <span>
        <mat-form-field>
          <mat-select placeholder="Year" formControlName='year' (selectionChange)="updateDaysInMonth()" required>
            <mat-option *ngFor="let y of years" [value]="y">{{y}}</mat-option>
          </mat-select>
        </mat-form-field>
      </span>
      <span>
        <mat-form-field>
          <mat-select placeholder="Month" formControlName='month' (selectionChange)="updateDaysInMonth()" required>
            <mat-option *ngFor="let m of months" [value]="m.value">{{m.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>
      </span>
      <span>
        <mat-form-field>
          <mat-select placeholder="Date" formControlName='day' [value]='basicForm.get("coverageStart.day")'
            required>
            <mat-option *ngFor="let d of daysInMonth" [value]="d">{{d}}</mat-option>
          </mat-select>
        </mat-form-field>
      </span>
    </div>
    <small *ngIf="DEBUG">Form status: {{ basicForm.status }}</small> -->
    <!-- <mat-action-row>
      <button class='float-right' type='submit' mat-button color="primary" matStepperNext>Next</button>
      <button class='float-right' type='button' mat-button (click)="debug()" *ngIf="DEBUG">Debug</button>
    </mat-action-row> -->
    <a href="/property-info"><button mat-raised-button color="primary" type="submit">Next</button></a>
  </form>
